*{
margin: 0;
padding: 0;
}

header{
    width: 100%;
    background-color:#6DCCAA;
    height: 30px;
}


.navegacion{

    float: right;
    margin-top: 20px;
    color: white;
    margin-right: 300px;
    
}

.landing {
    width: 100%;
    height: auto;
    background-color: #6DCCAA;
}

.landing_inferior
{
    display: flex;
    justify-content: space-around;
    background-color: #6DCCAA;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;

}

.landing_inferior h5{
   color:white;
   font-size: 2cm;
   font-family: monospace;
   margin-top: 100px;
}

 
 footer {
     width: 100%;
     height: 300px;
     background-color: 	#E6E6E6;
 }

 

    
    
 .texto_footer{
     font-family: sans-serif;
 }

 .contact-main form {
    width: 500px;
    margin: auto;
    background: rgba(255,255,255,20);
    background: #6DCCAA;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 7px;
    
}

.contact-main H3 {
    color:white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.contact-main input, textarea, select {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.contact-main label {
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#BOTON {
    background: #6DCCAA;
    color:white;
    margin-top: 15px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

/*CODIFO CSS TABLE*/

/* TITULO*/


@media (max-width:1024px) {

.galeria{
    display: block;
    flex-direction: row;
}

    .galeria img {
        margin-left:10%;
        width: 80%; 
        margin-right: 10%;
        
        
    }
    
    .auto_landing {
        width: 100%;
        height: auto;
        
    }

    .landing_inferior{
        columns: 3;
        flex-direction: column;
        
    }
    .eslogan {
        float:none;
        text-align: center;
        }
    .mensaje{
        float:none;
        text-align: center;

    }
    .social {
  margin-left: 130px;
    justify-content: center;
    
    }



    .navegacion {
        float:none;
        width: 80%;
        margin:auto;


   
    }

    .navegacion li {
        width: 100%;
        margin-top:12px;
        text-align: center;

    }

    .landing {
        height: auto;
    }

    .landing_inferior
{
    display: flex;
    justify-content: space-around;
    background-color: #6DCCAA;
    width: 100%;
}

    .mensaje {
        color:white;
        font-size: 15px;
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        float: left;
        
    }
    
    .contenido {
        columns: 2;
        flex-direction: column;

    }

 
          
    .contact-main form {
        width: 370px;
    }
}

